.lumina-input {
  font-size: 16px;
  padding: 12px 14px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0 1px 1px 0 #00000008;
  transition: 0.4s;

  &:hover,
  &:focus {
    box-shadow: 0 6px 16px 8px #00000008;
  }
  &:active {
    box-shadow: 0 1px 3px 2px #00000008;
  }
}

/* 开关 */
.lumina-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.2s;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px #00000008;
    background-color: #fff;
    transition: 0.2s;
  }

  &:has(input:checked) {
    background-color: var(--primary-color);
  }

  &:has(input:checked)::after {
    left: 26px;
  }

  & input {
    display: none;
  }
}
